{% load static %}

<section class="brands">
    <section class="small-container">
        <section class="row">
            <section class="col-5">
                <img src="{% static 'images/logo-godrej.png' %}" alt="image logo godrej">
            </section>
            <section class="col-5">
                <img src="{% static 'images/logo-oppo.png' %}" alt="image logo coca cola">
            </section>
            <section class="col-5">
                <img src="{% static 'images/logo-coca-cola.png' %}" alt="image logo coca cola">
            </section>
            <section class="col-5">
                <img src="{% static 'images/logo-paypal.png' %}" alt="image logo paypal">
            </section>
            <section class="col-5">
                <img src="{% static 'images/logo-philips.png' %}" alt="image logo philips">
            </section>
        </section>
    </section>
</section>