{% load static %}

<section class="categories">
    <section class="small-container">
        <h2 class="title">Categories</h2>
        <section class="row">
            <section class="col-3 overlay-container">
                <img src="{% static 'images/category-1.jpg' %}" alt="image category 1">
                <div class="overlay">Casual</div>
            </section>
            <section class="col-3 overlay-container">
                <img src="{% static 'images/category-2.jpg' %}" alt="image category 2">
                <div class="overlay">Footwear</div>
            </section>
            <section class="col-3 overlay-container">
                <img src="{% static 'images/category-3.jpg' %}" alt="image category 3">
                <div class="overlay">Leisure</div>
            </section>
        </section>
    </section>
</section>