{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% block meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Red Store. A store made for you make your own athletic choices.">
    <meta name="keywords" content="Red Store, Athletic, Choices, E-commerce">
    <meta name="author" content="Leonardo Machado">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block core_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}

    {% block favicon %}
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block core_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% endblock core_js %}

    {% block extra_js %}
    {% endblock %}

    <title>RedStore | {% block extra_title %}Make Your Own Athletic Choices{% endblock %}</title>
</head>

<body>

    {% include 'includes/_header.html' %}
    {% block content %}{% endblock  %}
    {% include 'includes/_footer.html' %}

    {% block postloadjs %}
    <script src="{% static 'js/script.js' %}"></script>
    {% endblock %}

</body>

</html>